<mat-toolbar color="primary">
     <span>AbaLinks</span>
</mat-toolbar>

<mat-card *ngIf="isAdding">
     <mat-card-title>Add Link</mat-card-title>
     
     <mat-card-content>
          <mat-grid-list cols="4" rowHeight="30px">
               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="Name">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="URL">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-select name="Add Type" placeholder="Add Type">
                         <ng-container *ngFor="let currType of this.AbaLinksTypes">
                              <mat-option  *ngIf="currType.value != 'All'" [value]="currType.id">
                                   {{ currType.value }}
                              </mat-option>
                         </ng-container>
                    </mat-select>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <button matInput mat-raised-button color="primary" (click)="addClick()" >Add</button>
                    <button matInput mat-raised-button color="warn">Cancel</button>
               </mat-grid-tile>            
          </mat-grid-list>         
     </mat-card-content>
</mat-card>

<button *ngIf="!isAdding" matInput mat-raised-button color="warn" (click)="addClick()" >Add Link</button>
<table mat-table matSort [dataSource]="AbaLinksDataSource" class="AbaLinksTable mat-elevation-z8">
     <!--Edit Column -->
     <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
          <td mat-cell *matCellDef="let element">
               <a href="#"><img [src]="getEditImage(element.IsBeingEdited)" (click)="editClicked(element,true)"></a>
               <a *ngIf="element.IsBeingEdited" href="#"><img src="../assets/cancel.png" (click)="editClicked(element)"></a>
          </td>
     </ng-container>

     <!--ID Column -->
     <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
     </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        
          <td mat-cell *matCellDef="let element">
               <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="element.Name" (change)="fieldChanged(element)" [disabled]="!element.IsBeingEdited">
               </mat-form-field>
          </td>
     </ng-container>

     <!-- URL Column -->
     <ng-container matColumnDef="URL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
      
          <td mat-cell *matCellDef="let element">
               <div *ngIf="!element.IsBeingEdited;else editField">    
                    <a [href]="element.URL">{{ element.URL }}</a>
               </div>

               <ng-template #editField>
                    <mat-form-field>
                         <input matInput placeholder="URL" [(ngModel)]="element.URL" (change)="fieldChanged(element)">
                    </mat-form-field>
               </ng-template>
          </td>
     </ng-container>

     <!-- Type Column -->
     <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      
          <td mat-cell *matCellDef="let element">
               <mat-select [disabled]="!element.IsBeingEdited" name="Type" placeholder="Type" [(value)]="element.TypeID" (selectionChange)="fieldChanged(element)">
                    <ng-container *ngFor="let currType of this.AbaLinksTypes">
                         <mat-option  *ngIf="currType.value != 'All'" [value]="currType.id">
                              {{ currType.value }}
                         </mat-option>
                    </ng-container>
               </mat-select>
          </td>
     </ng-container>
    
     <tr mat-header-row *matHeaderRowDef="AbaLinksColumns"></tr>
     <tr mat-row *matRowDef="let row; columns:  AbaLinksColumns;"></tr>
</table>