.MyLinksTable {
     /*min-width: 1000px;*/
     overflow: auto;
     position: absolute;
}

/* Edit column */
.Edit  {
     width: 70px !important;
     white-space: wrap;
}

/* ID Column */
.ID  {
     width: 70px !important;     
}

/* Name column */
.Name {
     min-width: 225px;
     font-weight: bold;
     color: black !important;
     white-space: wrap;
}

/* Name column edit */
.Name input {
     font-weight: bold;
     color: black !important;
}

/* URL column */
.URL  {
     /*min-width: 200px;*/
     white-space: wrap;
}

/* URL column edit field */
.URL mat-form-field {     
     max-width: 250px;
     white-space: wrap;
}

/* Type column */
.Type  {
    min-width: 100px;
    white-space: wrap;
}

mat-grid-list {
     max-width: 800px;
}

#cancelButton {
     margin-left: 25px;
}

mat-form-field {
     display: block !important;
}