<mat-toolbar color="primary">
     <span>{{title}}</span>
</mat-toolbar>


<mat-card id="searchPanel">
     <mat-card-title>Search panel</mat-card-title>

     <mat-card-content>
          <mat-grid-list cols="4" rowHeight="30px">
               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="Name" [(ngModel)]="searchName" (keydown)="applyFilter(searchName)">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="URL" [(ngModel)]="searchURL" (keydown)="applyFilter(searchURL)">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-select name="Search Type" placeholder="Search Type" [(value)]="searchType" (selectionChange)="applyFilter(searchType.toString())">
                         <mat-option *ngFor="let currType of this.MyLinksTypes" [value]="currType.id">
                              {{ currType.value }}
                         </mat-option>
                    </mat-select>
               </mat-grid-tile>         
          </mat-grid-list>         
     </mat-card-content>
</mat-card>

<mat-card *ngIf="isAdding">
     <mat-card-title>Add Link</mat-card-title>
     
     <mat-card-content>
          <mat-grid-list cols="4" rowHeight="30px">
               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="Name" [(ngModel)]="addName">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="URL" [(ngModel)]="addURL">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-select name="Add Type" placeholder="Add Type" [(value)]="addType">
                         <ng-container *ngFor="let currType of this.MyLinksTypes">
                              <mat-option  *ngIf="currType.value != 'All'" [value]="currType.id">
                                   {{ currType.value }}
                              </mat-option>
                         </ng-container>
                    </mat-select>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <button matInput mat-raised-button color="primary" (click)="addNewLinkClick(true)">Add</button>
                    <button id="cancelButton" matInput mat-raised-button color="warn" (click)="addNewLinkClick(false)">Cancel</button>
               </mat-grid-tile>            
          </mat-grid-list>         
     </mat-card-content>
</mat-card>

<button *ngIf="!isAdding" matInput mat-raised-button color="warn" (click)="addLinkButtonClick()" >Add Link</button>


<table mat-table [dataSource]="MyLinksPayload" class="mat-elevation-z8">
 
     <ng-container *ngFor="let column of MyLinksColumns; trackBy: trackByFn; let i = index" [matColumnDef]="column">
       {{column}}
       <th mat-header-cell *matHeaderCellDef [resizeColumn]="MyLinksResizeableColumns[i]"
           [index]="i"> <span>{{column}} </span></th>
       <td mat-cell *matCellDef="let element" [className]="column">
          <!--Edit Column fields -->
          <a *ngIf="column=='Edit'" href="#"><img [src]="getEditImage(element.IsBeingEdited)" (click)="editClicked(element,true)"></a>
          <a *ngIf="column=='Edit' && element.IsBeingEdited" href="#"><img src="../assets/cancel.png" (click)="editClicked(element)"></a>
          <a *ngIf="column=='Edit' && element.IsBeingEdited" href="#"><img src="../assets/delete.png" (click)="deleteLinkRowClick(element)"></a>
          
          <!-- ID Column fields -->
          <span *ngIf="column=='ID'" >{{element.ID}}</span>

          <!-- Name Column -->
          <mat-form-field *ngIf="column=='Name'">
               <input matInput placeholder="Name" [(ngModel)]="element.Name" (change)="fieldChanged(element)" [disabled]="!element.IsBeingEdited">
          </mat-form-field>
          
          <!-- URL column fields -->
          <div *ngIf="column=='URL' && !element.IsBeingEdited">
               <a [href]="element.URL">{{ element.URL }}</a>
          </div>

          <div *ngIf="column=='URL' && element.IsBeingEdited">
               <mat-form-field>
                    <input matInput placeholder="URL" [(ngModel)]="element.URL" (change)="fieldChanged(element)">
               </mat-form-field>
          </div>

          <!-- Type column fields -->
          <mat-select *ngIf="column=='Type'" [disabled]="!element.IsBeingEdited" name="Type" placeholder="Type" [(value)]="element.TypeID" (selectionChange)="fieldChanged(element)">
               <ng-container *ngFor="let currType of this.MyLinksTypes">
                    <mat-option  *ngIf="currType.value != 'All'" [value]="currType.id">
                         {{ currType.value }}
                    </mat-option>
               </ng-container>
          </mat-select>
       </td>
       <td mat-cell *matCellDef="let element"></td>
     </ng-container>
   
     <tr mat-header-row *matHeaderRowDef="MyLinksColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: MyLinksColumns;"></tr>
   </table>
   