<mat-toolbar color="primary">
     <span>{{title}}</span>
</mat-toolbar>


<mat-card id="searchPanel">
     <mat-card-title>Search panel</mat-card-title>

     <mat-card-content>
          <mat-grid-list cols="4" rowHeight="30px">
               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="Name" [(ngModel)]="searchName" (keydown)="applyFilter(searchName)">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="URL" [(ngModel)]="searchURL" (keydown)="applyFilter(searchURL)">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-select name="Search Type" placeholder="Search Type" [(value)]="searchType" (selectionChange)="applyFilter(searchType.toString())">
                         <mat-option *ngFor="let currType of this.MyLinksTypes" [value]="currType.id">
                              {{ currType.value }}
                         </mat-option>
                    </mat-select>
               </mat-grid-tile>         
          </mat-grid-list>         
     </mat-card-content>
</mat-card>

<mat-card *ngIf="isAdding">
     <mat-card-title>Add Link</mat-card-title>
     
     <mat-card-content>
          <mat-grid-list cols="4" rowHeight="30px">
               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="Name" [(ngModel)]="addName">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-form-field>
                         <input matInput placeholder="URL" [(ngModel)]="addURL">
                    </mat-form-field>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <mat-select name="Add Type" placeholder="Add Type" [(value)]="addType">
                         <ng-container *ngFor="let currType of this.MyLinksTypes">
                              <mat-option  *ngIf="currType.value != 'All'" [value]="currType.id">
                                   {{ currType.value }}
                              </mat-option>
                         </ng-container>
                    </mat-select>
               </mat-grid-tile>

               <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <button matInput mat-raised-button color="primary" (click)="addNewLinkClick(true)">Add</button>
                    <button id="cancelButton" matInput mat-raised-button color="warn" (click)="addNewLinkClick(false)">Cancel</button>
               </mat-grid-tile>            
          </mat-grid-list>         
     </mat-card-content>
</mat-card>

<button *ngIf="!isAdding" matInput mat-raised-button color="warn" (click)="addLinkButtonClick()" >Add Link</button>
<table mat-table matSort [dataSource]="MyLinksDataSource" class="MyLinksTable mat-elevation-z8">
     <!--Edit Column -->
     <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
          <td mat-cell *matCellDef="let element">
               <a href="#"><img [src]="getEditImage(element.IsBeingEdited)" (click)="editClicked(element,true)"></a>
               <a *ngIf="element.IsBeingEdited" href="#"><img src="../assets/cancel.png" (click)="editClicked(element)"></a>
               <a *ngIf="element.IsBeingEdited" href="#"><img src="../assets/delete.png" (click)="deleteLinkRowClick(element)"></a>
          </td>
     </ng-container>

     <!--ID Column -->
     <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
     </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        
          <td mat-cell *matCellDef="let element">
               <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="element.Name" (change)="fieldChanged(element)" [disabled]="!element.IsBeingEdited">
               </mat-form-field>
          </td>
     </ng-container>

     <!-- URL Column -->
     <ng-container matColumnDef="URL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
      
          <td mat-cell *matCellDef="let element">
               <div *ngIf="!element.IsBeingEdited;else editField">    
                    <a [href]="element.URL">{{ element.URL }}</a>
               </div>

               <ng-template #editField>
                    <mat-form-field>
                         <input matInput placeholder="URL" [(ngModel)]="element.URL" (change)="fieldChanged(element)">
                    </mat-form-field>
               </ng-template>
          </td>
     </ng-container>

     <!-- Type Column -->
     <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      
          <td mat-cell *matCellDef="let element">
               <mat-select [disabled]="!element.IsBeingEdited" name="Type" placeholder="Type" [(value)]="element.TypeID" (selectionChange)="fieldChanged(element)">
                    <ng-container *ngFor="let currType of this.MyLinksTypes">
                         <mat-option  *ngIf="currType.value != 'All'" [value]="currType.id">
                              {{ currType.value }}
                         </mat-option>
                    </ng-container>
               </mat-select>
          </td>
     </ng-container>
    
     <tr mat-header-row *matHeaderRowDef="MyLinksColumns"></tr>
     <tr mat-row *matRowDef="let row; columns:  MyLinksColumns;"></tr>
</table>